<div class="background-screen">
  <div align="center" class="header-align">
    <a href="" style="font-size: 42px;color: #fff;text-decoration: none;">3Bees</a>
  </div>
  <div style="margin: 0 auto;width:40%;">
    <mat-card>
      <h1 class="title">Log In</h1>
      <div class="button-align" align="center">
        <a style="text-decoration: none;color: #fff;" href="auth/google" target="_self">
          <button class="button_1 button-design">Use Google Account</button>
        </a>
      </div>
      <div class="line-seperator" align="center">
        or
      </div>
      <form class="form-spacing">
        <mat-form-field class="example-full-width">
          <input type="text" matInput placeholder="Email">
          <mat-icon matPrefix>email</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input type="text" matInput placeholder="Password">
          <mat-icon matPrefix>enhanced_encryption</mat-icon>
        </mat-form-field>
        <div class="bottom-button">
          <button type="submit" mat-raised-button class="button_1 button-design">Login</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>